@font-face {
    font-family: 'Relica Rounded';
    src: url('RelicaRounded-Regular.eot');
    src: url('RelicaRounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('RelicaRounded-Regular.woff2') format('woff2'),
        url('RelicaRounded-Regular.woff') format('woff'),
        url('RelicaRounded-Regular.ttf') format('truetype'),
        url('RelicaRounded-Regular.svg#RelicaRounded-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Relica Rounded Retro';
    src: url('RelicaRounded-Retro.eot');
    src: url('RelicaRounded-Retro.eot?#iefix') format('embedded-opentype'),
        url('RelicaRounded-Retro.woff2') format('woff2'),
        url('RelicaRounded-Retro.woff') format('woff'),
        url('RelicaRounded-Retro.ttf') format('truetype'),
        url('RelicaRounded-Retro.svg#RelicaRounded-Retro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Relica Rounded Outline';
    src: url('RelicaRounded-Outline.eot');
    src: url('RelicaRounded-Outline.eot?#iefix') format('embedded-opentype'),
        url('RelicaRounded-Outline.woff2') format('woff2'),
        url('RelicaRounded-Outline.woff') format('woff'),
        url('RelicaRounded-Outline.ttf') format('truetype'),
        url('RelicaRounded-Outline.svg#RelicaRounded-Outline') format('svg');
    font-weight: normal;
    font-style: normal;
}

