{% extends 'base.html' %}
{% load static %}

{% block title %}ThreeJS Test | {% endblock %}

{% block content %}
<!--
<div class="container">start of testing UI
   <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
         <div class="card card-vaporwaveNeonPink">
            <div class="card-header">
              Vaporwave Neon Card w/ PINK base
            </div>
            <div class="card-body">
               <p class="card-text">lroeajsdjskda  aksldjajk jkn ajkd oi kjabdkjb asd . aadkjasd , akjsd a. aodh ajkn >SDSUIHANndlkBDlajkdn .</p>
               <div class="d-flex justify-content-end mt-3">
                  <a href="" class="btn btn-sm mr-2 btn-primary border-dark" type="button">
                     Details
                  </a>                    
               </div>
            </div>
         </div>
      </div> 
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
         <div class="card card-vaporwaveNeonBeige">
            <div class="card-header">
              Vaporwave Neon Card w/ BEIGE base
            </div>
            <div class="card-body">
               <p class="card-text">lroeajsdjskda  aksldjajk jkn ajkd oi kjabdkjb asd . aadkjasd , akjsd a. aodh ajkn >SDSUIHANndlkBDlajkdn .</p>
               <div class="d-flex justify-content-end mt-3">
                  <a href="" class="btn btn-sm mr-2 btn-primary border-dark" type="button">
                     Details
                  </a>                    
               </div>
            </div>
         </div>
      </div> 
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
         <div class="card card-vaporwaveNeonYellow">
            <div class="card-header">
              Vaporwave Neon Card w/ YELLOW base
            </div>
            <div class="card-body">
               <p class="card-text">lroeajsdjskda  aksldjajk jkn ajkd oi kjabdkjb asd . aadkjasd , akjsd a. aodh ajkn >SDSUIHANndlkBDlajkdn .</p>
               <div class="d-flex justify-content-end mt-3">
                  <a href="" class="btn btn-sm mr-2 btn-primary border-dark" type="button">
                     Details
                  </a>                    
               </div>
            </div>
         </div>
      </div>       
      
   </div>
   end of testing UI
</div>   
-->  

<div class="container-fluid" id="tip" style="display: none">
<h1 id="intro_statement" style="text-align: center">some text</h1>
   <div class="row" style="padding:50px">
      {% for org in orgs %}
           
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="{{org.slug}}" style="display: none">
         {% if org.category.slug == "startup" or org.category.slug == "sme" %}
         <div class="card card-vaporwaveNeonPink">
         {% elif org.category.slug == "lab" or org.category.slug == "foundation" %}
         <div class="card card-vaporwaveNeonBeige">
         {% elif org.category.slug == "incubator" or org.category.slug == "accelerator" or org.category.slug == "venture_capital" or org.category.slug == "investment_fund" %}
         <div class="card card-vaporwaveNeonYellow">
         {% else %}
         <div class="card card-primary">
         {% endif %}
         
            <div class="card-header">
              {{org.title}} ({{org.category}} in {{org.country_hq}})
            </div>
               <div class="card-body">
                  <p class="card-text">{{org.description}}</p>
                  <div class="text-right">
                    <a href="{% url 'org_profile' org.category.slug org.slug %}" class="btn btn-sm mr-2 btn-neonPink" type="button">
                      Details
                    </a>                    
                  </div>
                </div>
        </div>
      </div> 
      
    {% endfor %}

   </div>
</div>   





<!-- 


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'styles/windows-95-ui-kit/css/pixel.css' %}" />
<script src="{% static 'styles/windows-95-ui-kit/js/pixel.js' %}" type="text/javascript"></script>

-->


<script>

   var scene; 
   var camera;
   let light1, light2, light3, light4;
   const clock = new THREE.Clock();
   var timeStamp;
   var animTime;


   var NEUROPROSTHETICS_CANVAS;
   var canvasBounds; 
   var brain;
   var selectedBrainAreaName;
   var selectedBrainAreaObject;
   var selectedBrainAreaObject_humanReadibleName;    //retrieved later from the sql tables via django
   var selectedBrainAreaClickPosition;
   var previouslySelectedBrainArea;
  

   var colorMap_bio;
   var colorMap_tech;
   var normalMap;
   var heightMap;

   var magic_particle;
   var particleGroup, particleAttributes;
   var particlesOn;

   var bioMaterial;
   var techMaterial;

   var INTERSECTED;
   var raycaster;
   var loader;
   const mouse = new THREE.Vector2();

   init();
   animate();


   async function init() {
      scene = new THREE.Scene();
      camera = new THREE.PerspectiveCamera(4, window.innerWidth / (window.innerHeight), 1, 1000);
      gsap.fromTo(camera.position, {z:5}, {
         z:2.5,
         duration:1,
         
      });
      //gsap.to(INTERSECTED.material, 1, {opacity:0, overwrite:true }); //in the first 0.78s after clicking a brain region, the region will turn completely white so that when the tech texture is applied over it the transition will be visually smooth

      //camera.position.z = 2.5;
      //camera.position.y = -0.06;
      //camera.lookAt( scene.position );
      //scene.add(new THREE.AxesHelper(500));

      renderer = new THREE.WebGLRenderer({alpha:true});
      controls = new THREE.OrbitControls(camera, renderer.domElement);
      controls.enableZoom = false;
      controls.enableDamping = true;
      controls.dampingFactor = 0.05;
      controls.update();


      //associating an HTML element with the three.js content
      renderer.domElement.id = 'NEUROPROSTHETICS_CANVAS';
      renderer.outputEncoding = THREE.sRGBEncoding;

      //renderer.setPixelRatio( window.devicePixelRatio );
      renderer.setSize(window.innerWidth, window.innerHeight);
      document.body.appendChild(renderer.domElement); 
      
      
      //adding light. Code is inspired by https://github.com/mrdoob/three.js/blob/master/examples/webgl_lights_pointlights.html
		const sphere = new THREE.SphereGeometry( 0.0015, 16, 8 );


      //const test_light = new THREE.PointLight(0xffffff, 1, 300);
      //test_light.position.set(50, 50, 50);
      //scene.add(test_light);

      //0x00ffff tirkisova
      
      light1 = new THREE.PointLight( 0xffaa00, 1, 50 );
      light1.add( new THREE.Mesh( sphere, new THREE.MeshBasicMaterial( { color: 0xffaa00 } ) ) );
      //ligth1.mesh.material.blending = THREE.AdditiveBlending;
      scene.add( light1 );

      light2 = new THREE.PointLight( 0x9980F2, 1, 50 );
      light2.add( new THREE.Mesh( sphere, new THREE.MeshBasicMaterial( { color: 0x9980F2 } ) ) );
      scene.add( light2 );

      light3 = new THREE.PointLight( 0xd5fbfe, 1, 50 );
      light3.add( new THREE.Mesh( sphere, new THREE.MeshBasicMaterial( { color: 0xd5fbfe } ) ) );
      scene.add( light3 );

      light4 = new THREE.PointLight( 0x3a9c76, 1, 50 );
      light4.add( new THREE.Mesh( sphere, new THREE.MeshBasicMaterial( { color: 0x3a9c76 } ) ) );
      scene.add( light4 );



   //figuring out whether some part of the brain has been clicked on        
      raycaster = new THREE.Raycaster();
      document.addEventListener( 'mousemove', onDocumentMouseMove );
      //NEUROPROSTHETICS_CANVAS.addEventListener('click', onCanvasClick);

   //resize and recentre the brain to fit window (responsive design) from https://subscription.packtpub.com/book/web_development/9781784392215/1/ch01lvl1sec15/automatically-resize-the-output-when-browser-size-changes
      window.addEventListener('resize', onResize, false);  
      
   //loading texture for later brain area selection (when user selects a brain area this texture will be applied to it, implying that the area has been computerized)
      const textureLoader = new THREE.TextureLoader();
   //textures & maps
      colorMap_bio = textureLoader.load("{% static 'content/3d/textures_materials/bio_brain/brain_colorTexture.png' %}");
      //heightMap_bio = textureLoader.load("{% static 'content/3d/textures_materials/bio_brain/brain2/Brain_Matter_001_DISP.png' %}");
      magic_particle = THREE.ImageUtils.loadTexture( "{% static 'content/3d/textures_materials/magic/spark.png' %}" );

      
      colorMap_tech = textureLoader.load("{% static 'content/3d/textures_materials/tech_brain/color_map_JS-2-2021-05-07-12-27-26-Seamless.png' %}");
      //normalMap_tech = textureLoader.load("{% static 'content/3d/textures_materials/normal_map_JS-2-2021-05-07-12-27-26-Seamless-Normal.png' %}");
      heightMap_tech = textureLoader.load("{% static 'content/3d/textures_materials/tech_brain/height_map_JS-2-2021-05-07-12-27-26-Seamless.png' %}");
   //assigning them to materials
      bioMaterial = new THREE.MeshStandardMaterial ({map:colorMap_bio});
      //techMaterial = new THREE.MeshStandardMaterial({map: colorMap_tech});  


   //loading the brain mesh + tech material ( async with a promise so that the animation is only applied when the model is loaded and so no undefined errors are thrown (code from https://discourse.threejs.org/t/most-simple-way-to-wait-loading-in-gltf-loader/13896/5))
      loader = new THREE.GLTFLoader();
      loader.load(
         "{% static 'content/3d/brain_org_Models_E0112A093/tech_brain_w_material.glb' %}",
         function (gltf) {
            brain = gltf.scene;
            scene.add(brain);
  
            //setting the brain to have bio texture (to be changed into tech texture when clicked)
            brain.traverse(function(obj){
               if(obj.isMesh && obj.material){
                  obj.material.map = colorMap_bio;
           
               }
            });
         },
         function (xhr) {
            
            console.log((xhr.loaded / xhr.total * 100) + '% loaded');
         },
         function (error) {
            console.error(error);
         }
      );
   

      
   }

   function onResize() {

      camera.aspect = window.innerWidth / (window.innerHeight);
      camera.updateProjectionMatrix();
      controls.update();

      renderer.setSize(window.innerWidth, (window.innerHeight));
      
      //updating the #tip div's location when the window is resized. For more info on this div see method onBrainAreaClicked
      $('#tip').css({ left: 0, top: ($('#NEUROPROSTHETICS_CANVAS').offset().top + $('#NEUROPROSTHETICS_CANVAS').outerHeight(true))});

   }
   
   function onCanvasClick(){
      //only firing the event if the brain was clickled. I.e. not when clicked inside the canvas but outside the brain
      if(INTERSECTED){
         //if any brain area was clicked, then when the next area is clicked the old one should return to original color/texture
         if(previouslySelectedBrainArea) previouslySelectedBrainArea.material.emissive.setHex( INTERSECTED.currentHex );
         INTERSECTED.material.emissive.setHex( 0x0000FF )
         
         onBrainAreaClicked (INTERSECTED.name);

         previouslySelectedBrainArea = INTERSECTED;
         INTERSECTED = null;
      }
      else{
         onBrainAreaClicked ("peripheral_NS");
      }
   }
   
   function onBrainAreaClicked(brainAreaName){
      /* texture from  <a href='https://pngtree.com/free-backgrounds'>free background photos from pngtree.com</a>
      var wireframe = new THREE.MeshBasicMaterial({
         color: 0x00000,
         wireframe: true,
         transparent: false,
         opacity: 1.0      
      });
      */
      
      //if its the same brain area as previously selected do nothing
      if(brainAreaName != selectedBrainAreaName){
         selectedBrainAreaName = brainAreaName;
         selectedBrainAreaObject = brain.getObjectByName(selectedBrainAreaName);
         //selectedBrainAreaObject.scale.multiplyScalar(1.1);
         console.log("i clicked on: " + selectedBrainAreaObject.name);
         
         //initiating the particle animation after clicking a brain region. The IF ensures the particles won't show up again if the previous particle animation has not finished.
         if(!scene.getObjectByName('particleGroup')){
            magicTransition();
            timeStamp = clock.getElapsedTime();
         }
         renderOrgInfo();

         INTERSECTED.material.wireframe = true;
         INTERSECTED.material.wireframeLinewidth = 5;
         setTimeout(() => {
            brain.traverse(function(obj){
                  if(obj.isMesh && obj.material){
                     obj.material.wireframe = false;
                  }
               });
         },850);
         
         /*
         gsap.to(INTERSECTED.scale, 0.85, {
            x: (INTERSECTED.scale.x-0.0008),
            y: (INTERSECTED.scale.y-0.0008),
            z: (INTERSECTED.scale.z-0.0008
            ),
            yoyo: true,
            repeat: 1,
            }
         );
         */
      }
   }

   function renderOrgInfo(){
         //calculating the Y position to place the text at as the sum of canvas hight + its offset from top of the page. The code is based on https://stackoverflow.com/questions/20827030/calculate-bottom-left-corner-of-a-div
         $('#tip').css({ left: 0, top: ($('#NEUROPROSTHETICS_CANVAS').offset().top + $('#NEUROPROSTHETICS_CANVAS').outerHeight(true))});      

         //organizing the HTML so that the #tip content appears on the same level as and after #NEUROPROSTHETICS_CANVAS. Using this jquery method for that https://api.jquery.com/insertafter/
         $('#tip').insertAfter( "#NEUROPROSTHETICS_CANVAS" );

         //changing the #tip element to show the info related to the selected part of the brain. The code is partially based on https://stackoverflow.com/questions/54410532/how-to-correctly-position-html-elements-in-three-js-coordinate-system
         $('#tip').css('display', 'block'); //(inactive) targetting the sub-element of the div id:#tip by using a jquery selector syntax explained here https://stackoverflow.com/questions/6665246/nested-id-in-jquery-selector
         
         //matching the brain area name (set in blender for the GLTF child objects) with django model. The GLTF name is a slug of the brain area in django model so it will be used to retrieve full name of the brain part. Text to be placed in the intro statement.
         {% for brainRegion in brainRegions %}
            if(selectedBrainAreaObject.name == '{{brainRegion.slug}}')
            selectedBrainAreaObject_humanReadibleName = '{{brainRegion.name}}'
         {% endfor %}
         $('#intro_statement').text(selectedBrainAreaObject_humanReadibleName + " emulations"); //Here I am simply putting the brain region name (in a readable format) below the 3d canvas

         //Reviewing if the orgs work on the selected brain area, and only if they do I shell display them in the html
         {% for org in orgs %}
            //simple reset. If an org has been displayed, this statement will make it invisible again when clicking on a brain region
            $('#{{org.slug}}').css("display", "none");
            {% for org_BR in orgBrainRegions %}
               //if the name of the org (in the current iteration of the for loop) exists inside the table which associates a brain region to an org, then continue...
               if('{{org.title}}' == '{{org_BR.org_name.title}}'){
                  //if the org is associated with (works on) the selected brain region, display it
                  if('{{org_BR.brain_region_name.name}}' == selectedBrainAreaObject_humanReadibleName){
                     $('#{{org.slug}}').css("display", "block");
                  }
               }
            {% endfor %}
         {% endfor %}

   }

   function onDocumentMouseMove(event) {
      
      event.preventDefault();

      //responsive mouse location for selecting brain areas (when changing window size/devices or when canvas is not full screen) based on https://stackoverflow.com/questions/36880033/clicking-objects-in-three-js-when-the-canvas-is-not-full-screen-r74
      //[why done this way] need to getElementById each time as ThreeJS generates a canvas for the objects used after they are loaded
      NEUROPROSTHETICS_CANVAS = document.getElementById("NEUROPROSTHETICS_CANVAS");
      canvasBounds = NEUROPROSTHETICS_CANVAS.getBoundingClientRect();
      mouse.x = ( ( event.clientX - canvasBounds.left ) / ( canvasBounds.right - canvasBounds.left ) ) * 2 - 1;
      mouse.y = - ( ( event.clientY - canvasBounds.top ) / ( canvasBounds.bottom - canvasBounds.top) ) * 2 + 1;

   }

   function animate() {
      requestAnimationFrame(animate);
      render();
      animTime = clock.getElapsedTime();



      //animating brain
      brain.rotation.x -= 0.0005;
      brain.rotation.y -= 0.0008;
      brain.rotation.z -= 0.0005;
   
      //animating particles
         if((animTime - timeStamp) < 1.57){
            for ( var c = 0; c < particleGroup.children.length; c ++ ){
               var sprite = particleGroup.children[ c ];
               
               if((animTime - timeStamp) < 0.78){
                  //gsap.to(INTERSECTED.material, 1, {opacity:0, overwrite:true }); //in the first 0.78s after clicking a brain region, the region will turn completely white so that when the tech texture is applied over it the transition will be visually smooth
                  sprite.material.opacity = Math.sin(animTime - timeStamp);
                 
               }
               if((animTime - timeStamp) > 0.78){
                  sprite.material.opacity = Math.cos(animTime - timeStamp);
                  
               }

               // pulse away/towards center
               // individual rates of movement               
               var a = particleAttributes.randomness[c] + 1;
               var pulseFactor = Math.sin(a * animTime) * 0.1 + 0.8;
               sprite.position.x = particleAttributes.startPosition[c].x * pulseFactor;
               sprite.position.y = particleAttributes.startPosition[c].y * pulseFactor;
               sprite.position.z = particleAttributes.startPosition[c].z * pulseFactor;


            }

            // rotate the entire group
            // particleGroup.rotation.x = animTime * 2;
            particleGroup.rotation.y = animTime * 2;
            // particleGroup.rotation.z = animTime * 4; 

            var target = new THREE.Vector3(); // create once an reuse it
            scene.getObjectByName(selectedBrainAreaName).getWorldPosition(target);
            particleGroup.position = (0,0,0);    
            particleGroup.position.x = target.x;    
            particleGroup.position.y = target.y;    
            particleGroup.position.z = target.z;   

            scene.add( particleGroup );
            
         }
         else{
            particlesOn = false;
            scene.remove(particleGroup);
         
      }

      //animating lights
      	
      light1.position.x = Math.sin( animTime * 0.4 ) * 0.1;
      light1.position.y = Math.cos( animTime * 0.3 ) * 0.1;
      light1.position.z = Math.cos( animTime * 0.2 ) * 0.2;

      light2.position.x = Math.cos( animTime * 0.3 ) * 0.2;
      light2.position.y = Math.sin( animTime * 0.4 ) * -0.1;
      light2.position.z = Math.sin( animTime * 0.4 ) * -0.1;

      light3.position.x = Math.sin( animTime * 0.2 ) * 0.1;
      light3.position.y = Math.cos( animTime * 0.3 ) * 0.2;
      light3.position.z = Math.sin( animTime * 0.3 ) * 0.1;

      light4.position.x = Math.cos( animTime * 0.4 ) * -0.1;
      light4.position.y = Math.sin( animTime * 0.2 ) * -0.1;
      light4.position.z = Math.sin( animTime * 0.3 ) * -0.2;
      
      controls.update();
      
   }

   function render() {
      camera.updateMatrixWorld();
     	controls.update();
      
      
      // find intersections where mouse hovers over a brain area (code from https://github.com/mrdoob/three.js/blob/master/examples/webgl_interactive_cubes.html)    
		raycaster.setFromCamera( mouse, camera );
		const intersects = raycaster.intersectObjects( brain.children );
		

      if ( intersects.length > 0 ) {
         if ( INTERSECTED != intersects[ 0 ].object ) {
            if ( INTERSECTED ){
               //INTERSECTED.material.emissive.setHex( INTERSECTED.currentHex ); //on hover change emissive (uneffected by light) color
               //INTERSECTED.material.wireframe = false; //on hover change to wireframe
               gsap.to(INTERSECTED.material, 1, {opacity: 1 });

            }

            INTERSECTED = intersects[ 0 ].object;
            INTERSECTED.material = INTERSECTED.material.clone(); //must clone the material into a new instance otherwise (since 1 material is shared across all brain regions) it would change the surface of all brain regions. Code inspired by https://discourse.threejs.org/t/manipulate-child-mesh-material-without-affecting-parent-object/20440/3
            //INTERSECTED.currentHex = INTERSECTED.material.emissive.getHex();
            //INTERSECTED.material.emissive.setHex( 0xf9d1fb );
            INTERSECTED.material.wireframeLinewidth = 10;
            //INTERSECTED.material.wireframe = true;
            gsap.to(INTERSECTED.material, 1, {opacity: 0.6 });

           
            

            NEUROPROSTHETICS_CANVAS.addEventListener('click', function(){
               //only firing the event if the brain was clickled. I.e. not when clicked inside the canvas but outside the brain
               if(INTERSECTED){
                  //if any brain area was already clicked, then when the next area is clicked the old one should return to original color/texture
                  if(previouslySelectedBrainArea){   
                     //previouslySelectedBrainArea.material.emissive.setHex( INTERSECTED.currentHex ); //on hover change emissive (uneffected by light) color
                     //previouslySelectedBrainArea.material.wireframe = false; //on hover change to wireframe
                     gsap.to(previouslySelectedBrainArea.material, 1, {opacity: 1 });
                     


                     previouslySelectedBrainArea.material.map = colorMap_bio;                 
                     previouslySelectedBrainArea.material.bumpMap = null;
                     previouslySelectedBrainArea.material.needsUpdate = true;

                     

                  }
                  
                  
                  INTERSECTED.material.bumpMap = heightMap_tech;
                  INTERSECTED.material.bumpScale = 0.002;
                  INTERSECTED.material.map = colorMap_tech;
                  
                  
                  
               //so that after clicking a brain part it will stop being highlighted
                  //INTERSECTED.material.emissive.setHex( INTERSECTED.currentHex ); //on hover change emissive (uneffected by light) color
                  //INTERSECTED.material.wireframe = false; //on hover change to wireframe
                  gsap.to(INTERSECTED.material, 1, {opacity: 1 });

                  onBrainAreaClicked (INTERSECTED.name);

                  previouslySelectedBrainArea = INTERSECTED;
                  INTERSECTED = null;
               }
               /* logic for clicking on peripheral nervous system !!not going to work due to the if this is in. The click won't be registered if not intersected!!
               if(!INTERSECTED){
                  if(previouslySelectedBrainArea) previouslySelectedBrainArea.material.emissive.setHex( INTERSECTED.currentHex );
                  previouslySelectedBrainArea = null;
                  onBrainAreaClicked("peripheral_NS");

               }
               */
               }
            );    
         }
		} else {
			if ( INTERSECTED ){
            //INTERSECTED.material.emissive.setHex( INTERSECTED.currentHex ); //on hover change emissive (uneffected by light) color     
            //INTERSECTED.material.wireframe = false; //on hover change to wireframe
            gsap.to(INTERSECTED.material, 1, {opacity: 1 }); //on hover change opacity
            
         }
			INTERSECTED = null;
		}
      
      
      
      
      renderer.render(scene, camera);
   }

   /*
   // this utility function allows you to use any three.js loader with promises and async/await
   function modelLoader(url) {
      return new Promise((resolve, reject) => {
         loader.load(
            url,
            data => resolve(data),
            function (xhr) {
               console.log((xhr.loaded / xhr.total * 100) + '% loaded');
            },
            function (error) {
               console.error(error);
            }
         );
      });
   }
   */

   //code insipired by https://github.com/stemkoski/stemkoski.github.com/blob/master/Three.js/Particles.html
   function magicTransition(){
           
      particlesOn = true;

      particleGroup = new THREE.Object3D();
	   particleAttributes = { startSize: [], startPosition: [], randomness: [] };   

      var totalParticles = 500;
	   var radiusRange = 0.07;
      for( var i = 0; i < totalParticles; i++ ){
         var spriteMaterial = new THREE.SpriteMaterial( { map: magic_particle, useScreenCoordinates: false, color: 0xffffff } );
         
         var sprite = new THREE.Sprite( spriteMaterial );
         sprite.scale.set( 0.03, 0.03 ); // imageWidth, imageHeight
         sprite.position.set( Math.random() - 0.5, Math.random() - 0.5, Math.random() - 0.5 );
         
         // for a cube:
         // sprite.position.multiplyScalar( radiusRange );
         // for a solid sphere:
         // sprite.position.setLength( radiusRange * Math.random() );
         // for a spherical shell:
         sprite.position.setLength( radiusRange * (Math.random() * 0.1 + 0.9) );
         
         // sprite.color.setRGB( Math.random(),  Math.random(),  Math.random() ); 
         sprite.material.color.setHSL( Math.random(), 0.9, 0.7 ); 
         
         //sprite.opacity = 0.80; // translucent particles
         sprite.material.blending = THREE.AdditiveBlending; // "glowing" particles
         
         particleGroup.add( sprite );
         // add variable qualities to arrays, if they need to be accessed later
         particleAttributes.startPosition.push( sprite.position.clone() );
         particleAttributes.randomness.push( Math.random() );
      }
 


      particleGroup.name='particleGroup';
         
   }   
      



   init().catch(error => {
      console.error(error);
   });


</script>




{% endblock %}