{% extends 'base.html' %}
{% load static %}

{% block title %}ThreeJS Test | {% endblock %}

{% block content %}
      

<div class="container-fluid" id="tip" style="display: none">
<h3 id="intro_statement">some text</h3>
   <div class="row">
      {% for org in orgs %}
           
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" id="{{org.slug}}" style="display: none">
         <div class="card card-tertiary">
            <div class="card-header">
              {{org.title}} ({{org.category}})
            </div>
              {% if org.category.slug == "startup" %}
                <div class="card-body" style="background: #E9C9F2">
              {% endif %}
              
              {% if org.category.slug == "lab" %}
                <div class="card-body" style="background: #9980F2">
              {% endif %}

              {% if org.category.slug == "foundation" %}
                <div class="card-body" style="background: #8DA6F2">
              {% endif %}

              {% if org.category.slug == "incubator" or org.category.slug == "accelerator"  %}
                <div class="card-body" style="background: #29DEF2">
              {% endif %}

              {% if org.category.slug == "venture_capital" or org.category.slug == "investment_fund"  %}
                <div class="card-body" style="background: #79F2BA">
              {% endif %}

                  <p class="card-text">{{org.description}}</p>
                  <div class="d-flex justify-content-end mt-3">
                    <a href="{% url 'org_profile' org.category.slug org.slug %}" class="btn btn-sm mr-2 btn-primary border-dark" type="button">
                      Details
                    </a>                    
                  </div>
                </div>
        </div>
      </div> 
    {% endfor %}

   </div>
</div>   

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.min.js" integrity="sha512-n8IpKWzDnBOcBhRlHirMZOUvEq2bLRMuJGjuVqbzUJwtTsgwOgK5aS0c1JA647XWYfqvXve8k3PtZdzpipFjgg==" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/RGBELoader.js"></script>
<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/controls/OrbitControls.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'styles/windows-95-ui-kit/node_modules/bootstrap/dist/css/bootstrap.min.css' %}" />
<script src="{% static 'styles/windows-95-ui-kit/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>


<link rel="stylesheet" type="text/css" href="{% static 'styles/windows-95-ui-kit/css/pixel.css' %}" />
<script type="text/javascript" src="{% static 'styles/windows-95-ui-kit/js/pixel.js' %}"></script>



<!-- 


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'styles/windows-95-ui-kit/css/pixel.css' %}" />
<script src="{% static 'styles/windows-95-ui-kit/js/pixel.js' %}" type="text/javascript"></script>

-->


<script>

   var scene; 
   var camera;

   var NEUROPROSTHETICS_CANVAS;
   var canvasBounds; 
   var brain;
   var selectedBrainAreaName;
   var selectedBrainAreaObject;
   var selectedBrainAreaObject_humanReadibleName;    //retrieved later from the sql tables via django
   var selectedBrainAreaClickPosition;
   var previouslySelectedBrainArea;
  

   var techTexture;
   var techMaterial;

   var INTERSECTED;
   var raycaster;
   var loader;
   const mouse = new THREE.Vector2();

   init();
   animate();

   async function init() {
      scene = new THREE.Scene();
      camera = new THREE.PerspectiveCamera(4, window.innerWidth / (window.innerHeight/1.5), 1, 1000);
      renderer = new THREE.WebGLRenderer({alpha:true});
      renderer.domElement.id = 'NEUROPROSTHETICS_CANVAS';


      renderer.outputEncoding = THREE.sRGBEncoding;

      //renderer.setPixelRatio( window.devicePixelRatio );
      renderer.setSize(window.innerWidth, window.innerHeight/1.5);
      document.body.appendChild(renderer.domElement); 
      
      
      //adding light
      const light = new THREE.PointLight(0xF7D0FD, 2, 200);
      light.position.set(50, 50, 50);
      scene.add(light);

      //figuring out whether some part of the brain has been clicked on        
      raycaster = new THREE.Raycaster();
      document.addEventListener( 'mousemove', onDocumentMouseMove );

      //resize and recentre the brain to fit window (responsive design) from https://subscription.packtpub.com/book/web_development/9781784392215/1/ch01lvl1sec15/automatically-resize-the-output-when-browser-size-changes
      window.addEventListener('resize', onResize, false);  
      
      //loading the brain mesh + material ( async with a promise so that the animation is only applied when the model is loaded and so no undefined errors are thrown (code from https://discourse.threejs.org/t/most-simple-way-to-wait-loading-in-gltf-loader/13896/5))
      loader = new THREE.GLTFLoader();
      
      const gltfData = await modelLoader("{% static 'content/3d/brain_org_Models_E0112A093/Brain_convertedInBlenderToGLTF_withMaterial3.glb' %}");
      brain = gltfData.scene;
      scene.add(brain);
      //renderer.render( scene, camera );
      
      //loading texture for later brain area selection (when user selects a brain area this texture will be applied to it, implying that the area has been computerized)
      techTexture = new THREE.TextureLoader().load(
         "{% static 'content/3d/tech_brain/greenMotherBoard2.png' %}"
      );
      techMaterial = new THREE.MeshBasicMaterial({map:techTexture});

      /* the traditional way to load stuff
      loader.load(
         "{% static 'content/3d/brain_org_Models_E0112A093/Brain_convertedInBlenderToGLTF_withMaterial.glb' %}",
         function (gltf) {
            brain = gltf.scene;
            scene.add(brain);
            //renderer.render( scene, camera );
         },
         function (xhr) {
            console.log((xhr.loaded / xhr.total * 100) + '% loaded');
         },
         function (error) {
            console.error(error);
         }
      );
      */

   

   }

   function onResize() {
      camera.aspect = window.innerWidth / (window.innerHeight/1.5);
      camera.updateProjectionMatrix();
      renderer.setSize(window.innerWidth, (window.innerHeight/1.5));
      
      //updating the #tip div's location when the window is resized. For more info on this div see method onBrainAreaClicked
      $('#tip').css({ left: 0, top: ($('#NEUROPROSTHETICS_CANVAS').offset().top + $('#NEUROPROSTHETICS_CANVAS').outerHeight(true))});

   }

   function onBrainAreaClicked(brainAreaName){
      // texture from  <a href='https://pngtree.com/free-backgrounds'>free background photos from pngtree.com</a>
      var wireframe = new THREE.MeshBasicMaterial({
         color: 0x00000,
         wireframe: true,
         transparent: false,
         opacity: 1.0      
      });
      
      //if its the same brain area as previously selected do nothing
      if(brainAreaName != selectedBrainAreaName){
         selectedBrainAreaName = brainAreaName;
         selectedBrainAreaObject = brain.getObjectByName(selectedBrainAreaName);
         //selectedBrainAreaObject.scale.multiplyScalar(1.1);
         console.log("i clicked on: " + selectedBrainAreaObject.name);
         //selectedBrainAreaObject.material = techMaterial;
         //selectedBrainAreaObject.material.visible = false;
         
         renderOrgInfo();

      }
   }

   
   function renderOrgInfo(){
         //calculating the Y position to place the text at as the sum of canvas hight + its offset from top of the page. The code is based on https://stackoverflow.com/questions/20827030/calculate-bottom-left-corner-of-a-div
         $('#tip').css({ left: 0, top: ($('#NEUROPROSTHETICS_CANVAS').offset().top + $('#NEUROPROSTHETICS_CANVAS').outerHeight(true))});      

         //organizing the HTML so that the #tip content appears on the same level as and after #NEUROPROSTHETICS_CANVAS. Using this jquery method for that https://api.jquery.com/insertafter/
         $('#tip').insertAfter( "#NEUROPROSTHETICS_CANVAS" );

         //changing the #tip element to show the info related to the selected part of the brain. The code is partially based on https://stackoverflow.com/questions/54410532/how-to-correctly-position-html-elements-in-three-js-coordinate-system
         $('#tip').css('display', 'block'); //(inactive) targetting the sub-element of the div id:#tip by using a jquery selector syntax explained here https://stackoverflow.com/questions/6665246/nested-id-in-jquery-selector
         
         //matching the brain area name (set in blender for the GLTF child objects) with django model. The GLTF name is a slug of the brain area in django model so it will be used to retrieve full name of the brain part. Text to be placed in the intro statement.
         {% for brainRegion in brainRegions %}
            if(selectedBrainAreaObject.name == '{{brainRegion.slug}}')
            selectedBrainAreaObject_humanReadibleName = '{{brainRegion.name}}'
         {% endfor %}
         $('#intro_statement').text("Orgs building "+selectedBrainAreaObject_humanReadibleName +" neurotech:"); //Here I am simply putting the brain region name (in a readable format) below the 3d canvas

         //Reviewing if the orgs work on the selected brain area, and only if they do I shell display them in the html
         {% for org in orgs %}
            //simple reset. If an org has been displayed, this statement will make it invisible again when clicking on a brain region
            $('#{{org.slug}}').css("display", "none");
            {% for org_BR in orgBrainRegions %}
               //if the name of the org (in the current iteration of the for loop) exists inside the table which associates a brain region to an org, then continue...
               if('{{org.title}}' == '{{org_BR.org_name.title}}'){
                  //if the org is associated with (works on) the selected brain region, display it
                  if('{{org_BR.brain_region_name.name}}' == selectedBrainAreaObject_humanReadibleName){
                     $('#{{org.slug}}').css("display", "block");
                  }
               }
            {% endfor %}
         {% endfor %}

   }

   function onDocumentMouseMove(event) {
      
      event.preventDefault();

      //responsive mouse location for selecting brain areas (when changing window size/devices or when canvas is not full screen) based on https://stackoverflow.com/questions/36880033/clicking-objects-in-three-js-when-the-canvas-is-not-full-screen-r74
      //[why done this way] need to getElementById each time as ThreeJS generates a canvas for the objects used after they are loaded
      NEUROPROSTHETICS_CANVAS = document.getElementById("NEUROPROSTHETICS_CANVAS");
      canvasBounds = NEUROPROSTHETICS_CANVAS.getBoundingClientRect();
      mouse.x = ( ( event.clientX - canvasBounds.left ) / ( canvasBounds.right - canvasBounds.left ) ) * 2 - 1;
      mouse.y = - ( ( event.clientY - canvasBounds.top ) / ( canvasBounds.bottom - canvasBounds.top) ) * 2 + 1;

   }


   function animate() {
      requestAnimationFrame(animate);

      render();

      //brain.rotation.x += 0.01;
      brain.rotation.y += 0.01;
      //brain.rotation.z += 0.01;



   }


   function render() {
      camera.updateMatrixWorld();


      // find intersections where mouse hovers over a brain area (code from https://github.com/mrdoob/three.js/blob/master/examples/webgl_interactive_cubes.html)    
		raycaster.setFromCamera( mouse, camera );
		const intersects = raycaster.intersectObjects( brain.children );
		

      if ( intersects.length > 0 ) {
         if ( INTERSECTED != intersects[ 0 ].object ) {
            if ( INTERSECTED ) INTERSECTED.material.emissive.setHex( INTERSECTED.currentHex );

            INTERSECTED = intersects[ 0 ].object;
            INTERSECTED.currentHex = INTERSECTED.material.emissive.getHex();
            INTERSECTED.material.emissive.setHex( 0xff0000 );

            NEUROPROSTHETICS_CANVAS.addEventListener('click', function(){
               //only firing the event if the brain was clickled. I.e. not when clicked inside the canvas but outside the brain
               if(INTERSECTED){
                  //if any brain area was clicked, then when the next area is clicked the old one should return to original color/texture
                  if(previouslySelectedBrainArea) previouslySelectedBrainArea.material.emissive.setHex( INTERSECTED.currentHex );
                  INTERSECTED.material.emissive.setHex( 0x0000FF )
                  
                  onBrainAreaClicked (INTERSECTED.name);

                  previouslySelectedBrainArea = INTERSECTED;
                  INTERSECTED = null;
               }
               }
            );    
         }
		} else {
			if ( INTERSECTED )   INTERSECTED.material.emissive.setHex( INTERSECTED.currentHex );   
               
			INTERSECTED = null;
		}



      camera.position.z = 2.5;
      //camera.position.y = -0.06;
      //camera.lookAt( scene.position );

      renderer.render(scene, camera);
   }


   // this utility function allows you to use any three.js loader with promises and async/await
   function modelLoader(url) {
      return new Promise((resolve, reject) => {
         loader.load(
            url,
            data => resolve(data),
            function (xhr) {
               console.log((xhr.loaded / xhr.total * 100) + '% loaded');
            },
            function (error) {
               console.error(error);
            }
         );
      });
   }

   

   init().catch(error => {
      console.error(error);
   });


</script>




{% endblock %}