{% extends 'base.html' %}
{% load static %}

{% block title %}ThreeJS Test | {% endblock %}

{% block content %}

<body>  
  <script>
      // SCENE
      const scene = new THREE.Scene();

      // CAMERA
      const camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 1000);

      // RENDERER
      const renderer = new THREE.WebGLRenderer({ antialias: true });
      renderer.setSize(window.innerWidth, window.innerHeight);

      // CONTROLS
      const controls = new THREE.OrbitControls(camera, renderer.domElement);
      
      controls.enableDamping = true;
      controls.update();
      
      // INIT CAMERA
      camera.position.z = 15;
      camera.position.x = 3;
      camera.position.y = 6;
      camera.lookAt(0, 0, -20)

      // INIT HEMISPHERE LIGHT
      scene.add(new THREE.AmbientLight(0xffffff, 0.5));

      // SCENE
      scene.background = new THREE.Color(0xffffff);
      const textureLoader = new THREE.TextureLoader();

      const colorMap = textureLoader.load('{% static 'content/3d/textures_materials/color_map_JS-2-2021-05-07-12-27-26-Seamless.png' %}');
      const normalMap = textureLoader.load('{% static 'content/3d/textures_materials/normal_map_JS-2-2021-05-07-12-27-26-Seamless-Normal.png' %}');
      const heightMap = textureLoader.load('{% static 'content/3d/textures_materials/height_map_JS-2-2021-05-07-12-27-26-Seamless.png' %}');






      // FLOOR
      for (var i = -50; i <= 50; i += 5) {
          for (var j = -50; j <= 50; j += 5) {
              const plane = new THREE.Mesh(new THREE.PlaneGeometry(5, 5, 1), new THREE.MeshPhongMaterial({ color: 0x0a7d15}));
              plane.position.x = i;
              plane.position.z = j;
              plane.rotation.x = - Math.PI / 2
              scene.add(plane);
          }
      }

      const plane1 = new THREE.Mesh(new THREE.PlaneGeometry(2, 2),
        new THREE.MeshStandardMaterial(
          {
            map: colorMap
          }))
      
      plane1.position.y = 3;
      plane1.position.x = -4;
      scene.add(plane1);

      const plane2 = new THREE.Mesh(new THREE.PlaneGeometry(2, 2),
        new THREE.MeshStandardMaterial(
          {
            map: colorMap,
            normalMap: normalMap
          }))
      
      plane2.position.y = 3;
      plane2.position.x = -1.5;
      scene.add(plane2);

      const plane3 = new THREE.Mesh(new THREE.PlaneGeometry(2, 2, 2048, 2048),
        new THREE.MeshStandardMaterial(
          {
            map: colorMap,
            normalMap: normalMap,
            displacementMap: heightMap,
            displacementScale: 0.05,
           
          }))
      
      plane3.position.y = 3;
      plane3.position.x = 1;
      scene.add(plane3);

      
      const cubeRenderTarget = new THREE.WebGLCubeRenderTarget( 128, {
          format: THREE.RGBFormat,
          generateMipmaps: true,
          minFilter: THREE.LinearMipmapLinearFilter,
          encoding: THREE.sRGBEncoding
      } );

      const cubeCamera = new THREE.CubeCamera( 1, 10000, cubeRenderTarget );


      // DIRECTIONAL LIGHT
      const directionalLight = new THREE.DirectionalLight(0xffffff, 1);
      directionalLight.position.x += 20
      directionalLight.position.y += 20
      directionalLight.position.z += 20
      scene.add(directionalLight);

      // ANIMATE
      function animate() {
          const time = Date.now() * 0.0005;
          directionalLight.position.x =  Math.sin(time * 0.7) * 20;
          directionalLight.position.z = Math.abs( Math.cos(time * 0.7) ) * 20;

          controls.update();

          cubeCamera.update( renderer, scene );

          renderer.render(scene, camera);
          requestAnimationFrame(animate);
      }
      document.body.appendChild(renderer.domElement);
      animate();
  
  </script>
</body>
</html>



{% endblock %}